<h2>Items</h2>
<a href="/Items/add" class="btn btn-success pull-right">Add Post</a>

{{#if items}}
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Post Date</th>
        <th>Price</th>
        <th>Category</th>
        <th>Published</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
        <tr>
          <td>{{title}}</td>
          <td>{{formatDate postDate}}</td>
          <td>${{price}}</td>
          <td>{{#if Category}}{{Category.category}}{{else}}Uncategorized{{/if}}</td>
          <td>{{#if published}}Yes{{else}}No{{/if}}</td>
          <td>
            <a href="/Items/delete/{{id}}" class="btn btn-danger">Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div>No Items</div>
{{/if}}
